.file-upload-container {
  display: flex;
  flex-direction: initial;
}

.selected-file {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.selected-file p {
  flex: 1;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
